@model EmployeeFormModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Users</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Is Employee</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.users)
                {
                    <div>
                        <partial name="_UserPartial" model="@item" />
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </tbody>
        </table>
    </div>
</div>